body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

        #playerTable {
            width: 800px;
            border-collapse: collapse;
        }

        #monsterTable {
            width: 1200px;
            border-collapse: collapse;
        }

        #monsterTraitTable {
            width: 1200px;
            border-collapse: collapse;
        }

        #monsterActionTable {
            width: 1200px;
            border-collapse: collapse;
        }

        #monsterSpellTable {
            width: 1200px;
            border-collapse: collapse;
        }


        #eventHistoryTable {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #eventHistoryTable th,
        #eventHistoryTable td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #eventHistoryTable th {
            background-color: #f4f4f4;
        }

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.current-health-value, .initiative-input {
    text-align: center; 
}

.spell-heading {
    font-weight: bold;
    text-align: left;
}

.action-name {
    font-weight: bold;      
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.tables {
    flex: 3;
    margin-right: 20px;
}

.event-history {
    flex: 1;
    max-width: 300px; /* Adjust width as needed */
}