/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Table Styles */
#playerTable,
#monsterTable,
#monsterTraitTable,
#monsterActionTable,
#monsterSpellTable {
    border-collapse: collapse;
}

#playerTable {
    width: 800px;
}

#monsterTable,
#monsterTraitTable,
#monsterActionTable {
    width: 1200px;
}

#monsterSpellTable {
    width: fit-content;
}

#monsterActionTable {
    width: fit-content;
}

/* Table Cells and Headers */

#playerTable td,
#monsterTable th,
#monsterTable td,
#monsterTraitTable th,
#monsterTraitTable td,
#monsterActionTable th,
#monsterActionTable td,
#monsterSpellTable th,
#monsterSpellTable td,
#eventHistoryTable th,
#eventHistoryTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#playerTable th,
#monsterTable th,
#monsterTraitTable th,
#monsterActionTable th,
#monsterSpellTable th {
    background-color: #f2f2f2;
}

#eventHistoryTable th {
    background-color: #f4f4f4;
}

/* Specific Table Styles */
#eventHistoryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Text Alignment */
.current-health-value,
.initiative-input {
    text-align: center;
}

.spell-heading {
    font-weight: bold;
    text-align: left;
}

.action-name {
    font-weight: bold;
}

/* Layout Styles */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.tables {
    flex: 3;
    margin-right: 20px;
}

.event-history {
    flex: 1;
    max-width: 300px; /* Adjust width as needed */
}

.slots-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing between text and slots if needed */
}

.slots-info-text {
    font-weight: bold;
}


/* Add this to your CSS file or <style> block */
.highlight {
    background-color: rgb(255, 0, 255); /* or any color you prefer */
}
